<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-lower">Admin View</span>
</h1>

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="./assets/img/intro.jpg" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action active"> MRI Scan</button>
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-lg">Approve</button>
      </div>
    </div>
  </div>
</section>
