<h1 class="site-heading text-center text-white d-none d-lg-block">
  <span class="site-heading-lower">Philips Marketplace</span>
</h1>

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="./assets/img/intro.jpg" alt="">
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <div class="list-group">
          <button type="button" class="list-group-item list-group-item-action"> MRI Scan</button>
          <button type="button" class="list-group-item list-group-item-action">CT Scan</button>
          <button type="button" class="list-group-item list-group-item-action">Ultrasound</button>
          <button type="button" class="list-group-item list-group-item-action">X-Ray</button>
        </div>
        <br>
        <!-- <button type="button" ng-href="adminview" class="btn btn-primary btn-lg">Request</button> -->
        <div class="intro-button mx-auto">
          <a class="btn btn-primary btn-xl" href="adminview">Request</a>
        </div>
      </div>
    </div>
  </div>
</section>
